<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>EnJoyn</title>

        <!-- Bootstrap Core CSS -->
        <link href="/stylesheets/bootstrap.css" rel="stylesheet">
        <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">


        <!-- Custom CSS -->
        <style>
            body {
                padding-top: 70px;
                /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
            }
        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="http://localhost:2000/socket.io/socket.io.js"></script>

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EnJoyn!</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                    <a href="/question">Question</a>
                    </li>
                    <li>
                    <a href="/result">Result</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
        </nav>


        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                    <a href="#">
                        Question for Teacher
                    </a>
                    </li>
                    <div id="question_text">  
                    </div>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <a href="#" class="btn btn-default" id="menu-toggle" onclick="toggle();">Close</a>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>ROOM32</h2>
                            <img src="/images/enjoyn.png" style="width:30%; height:30%;">
                            <h1>SELECT QUESTION TYPE</h1>
                            <form class="form-inline" role="form">
                                <a href="/two-answer" class = "btn btn-primary btn-lg">○×</a>
                                <a href="/four-answer" class = "btn btn-primary btn-lg">ABCD</a>
                                <a href="/text-answer" class = "btn btn-primary btn-lg">text</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- jQuery Version 1.11.0 -->
        <script type="text/javascript" src="/javascripts/lib/jquery-1.11.0.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
        <script src="/javascripts/src/question.js"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

    </body>

</html>
